<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="/assets/style.css" type="text/css">

</head>
<body>
    <ul>
        <li><a class="btn btn-primary mb-3" href="/auth/logout">Logout</a></li>
        <li><a class="btn btn-primary mb-3" href="/auth/login">Login</a></li>
        <li><a class="btn btn-primary" href="/">HomePage</a></li>

    </ul>

    <main>
        <a class="btn btn-primary" href="/auth/google">Google Login</a>
    </main>
</body>
</html>